.lista {
    position: absolute;
    width: 315px;
    height: 102px;
    left: 50px;
    top: 178px;
    
    background: #ffffff;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.03);
    border-radius: 20px;
}
.classes{
    backgroud: #000000;
}
.large {
width: 10;
height: 10;
}
